.row-brigade-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    gap: 15px;
    padding: 5px;
    grid-auto-rows: minmax(200px, auto);
    margin-left: 10px;
}

.brigade-card {
    margin: 10px;
    width: 100%;
    margin-bottom: 5px;
}

.filter-flex-container {
    margin: 5px;
    height: 30px;
}

.row-brigade-list {
    margin-left: 10px;
    min-width: min-content;
}

.filter-select-department {
    width: 150px;
}

.filter-select-connection {
    width: 150px;
}
